// Variables
$website-width: 1000px;
$spotify-color: #1db954;
$primary-color: #ffcc5c;
$secondary-color: #c91278;
$tertiary-color: #6930ff;
$light-color: #b3b3b3;
$dark-color: #191414;
$medium-color: #333;
$medium-light-color: #555;
$light-medium-color: #888;
$warning-color: #f75e38;
$info-color: #1ad1b0;
$font-color-primary: #fff;

// Fonts
@font-face {
	font-family: 'Proxima Nova Bold';
	src: local('Proxima Nova Bold'),
		url(../fonts/ProximaNovaBold.otf) format('opentype');
	font-weight: 700;
	font-style: bold;
}
