.Dashboard {
	min-height: 90vh;
	padding-top: 2.5rem;

	&__Wrapper {
		flex-direction: column;
		height: 100%;
		width: 100%;
	}

	&__Header {
		text-align: left;
		width: 90%;
		margin: 1.5rem auto;

		&__Image {
			img {
				max-width: 6rem;
				border-radius: 50%;
			}
		}

		&__Intro {
			flex-direction: column;
			justify-content: center;
			margin-left: 1rem;

			a {
				span {
					color: $primary-color;
					font-size: 2rem;
				}
			}

			h5 {
				text-transform: uppercase;
			}
		}
	}

	&__Menu {
		height: 60vh;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;

		&__Link {
			h1 {
				font-size: 3rem;
			}

			span {
				color: $primary-color;
			}
		}
	}
}

@media (min-width: 768px) {
	.Dashboard {
		&__Header {
			text-align: left;
			width: 100%;

			&__Image {
				margin-left: 2rem;
				img {
					max-width: 8rem;
				}
			}

			&__Intro {
				margin-left: 2rem;

				a {
					span {
						font-size: 2.75rem;
					}
				}
			}
		}

		&__Menu {
			flex-direction: row;
			width: 100%;
			height: 50vh;
		}
	}
}
