.ListItem {
	display: grid;
	grid-template-columns: 15% 15% 40% 30%;
	align-items: center;

	&__Image {
		img {
			height: 32px;
			width: 32px;
		}
	}

	&__Data2 {
		text-transform: capitalize;
	}

	.bottom-line {
		width: 100%;
		grid-column: 1/5;
		margin-top: 0.5rem;
	}

	&:hover .bottom-line {
		transition: 0.3s;
		background: $primary-color;
	}
}

@media (min-width: 768px) {
	.ListItem {
		grid-template-columns: 1fr 1fr 5fr 3fr;
		grid-gap: 0.4rem;

		&__Image {
			img {
				height: 64px;
				width: 64px;
			}
		}
	}
}
