.NavBar {
	overflow: hidden;
	background: $dark-color;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;

	&__Menu {
		width: 100%;

		ul {
			justify-content: space-evenly;

			li {
				height: 3rem;
				margin: 0.5rem 0;
				padding: 0.5rem 1rem;

				a {
					border-bottom: 3px transparent solid;
					padding-bottom: 0.2rem;
					transition: border-color 0.3s;
					display: flex;
					align-items: flex-end;
					transform: perspective(1px) translateZ(0);
					position: relative;

					&:before {
						content: '';
						position: absolute;
						z-index: 50;
						left: 50%;
						right: 50%;
						bottom: -3px;
						background: $primary-color;
						height: 3px;
						transition-property: left, right;
						transition-duration: 0.3s;
						transition-timing-function: ease-out;
					}

					&:hover:before {
						left: 0;
						right: 0;
					}

					span {
						color: $primary-color;
					}
				}
			}
		}
	}
}
