@import './config';
@import './utilities';
@import './login';
@import './navbar';
@import './scrolltop';
@import './dashboard';
@import './callback';
@import './top_artists';
@import './top_tracks';
@import './card';
@import './track_card';
@import './loader';
@import './timerange';
@import './list_item';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Proxima Nova Bold', sans-serif;
	color: $font-color-primary;
}

body {
	height: 100%;
	background-color: $dark-color;
}

.App {
	width: 100%;
	height: 100%;
	position: relative;
	background-color: $dark-color;
}
